.test-footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    vertical-align: middle;
    align-items: center;
    padding-left: 20px;
}